doctype html
html(lan='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Promises and async/await lab
    link(rel='stylesheet', href='/stylesheets/myStyle.css')
  body 
    block content