extends layout

block content
  div(class='optionsFrame')
    a(href='/part1') Check Part 1
    a(href='/part2') Check Part 2
    a(href='/part3/good123') Check Part 3 with 
      q good123
    a(href='/part3/good12') Check Part 3 with 
      q good12
    a(href='/part4/file1.txt') Check Part 4 with 
      q file1.txt
    a(href='/part4/file2.txt') Check Part 4 with
      q file2.txt